<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Style CSS -->
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/responsive.css">

    <!-- swiper js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

    <!-- Font Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <!-- batas font -->

    <!-- logo title -->
    <title>CAREERBOT</title>
    <link rel="icon" href="../static/img/logo.png" type="image/png">

  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light nav-color position-fixed w-100">
        <div class="container-fluid ">
          <a class="navbar-brand mx-3" href="#">CAREER<span fw-bold>BOT</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item mx-2">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link active" href="#search">Career</a>
              </li>
              <li class="nav-item mx-2 ">
                <a class="nav-link active" href="#why">About Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!-- navbar end -->

    <!-- Hero section -->
    <section id="hero">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-6 hero-tagline my-auto">
                    <h1 >Bantu Temukan Karir Terbaik 
                        Berdasarkan Potensi Kamu!</h1>
                    <p><span class="fw-bold">CareerBot</span> dapat membantu kamu 
                        untuk menemukan karir berdasarkan potensi diri yang kamu miliki</p>
                    <a href="#search"><button class="button-primary">Rekomendasi Karir</button></a>
                </div>
            </div>
            <img src="../static/img/hero.png" alt="image hero" class="position-absolute end-0 bottom-0 img-hero">
        </div>
    </section>
    <!-- Hero section end -->

    <!-- section why careerbot -->
    <section id="why" class="why section-padding">
      <h2>Your Future, <span>Our Mission</span></h2>
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-12 col-12">
            <div class="why-img">
              <img src="../static/img/aboutme.png" alt="" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-7 col-md-12 col-12 ps-lg-5">
              <div class="content">
                <h3>Kenapa perlu CareerBot?</h3>
                <p>Career Bot diciptakan untuk membantu Kamu menemukan karir yang sesuai dengan potensi dan keterampilan kamu. 
                  Menggunakan teknologi canggih dan analisis mendalam, kami memberikan rekomendasi karir yang 
                  dipersonalisasi untuk setiap pengguna. Tujuan kami adalah memastikan Anda menemukan jalur karir yang tidak hanya 
                  meningkatkan produktivitas, tetapi juga memberi kepuasan dan semangat dalam bekerja. Dengan Career Bot, perjalanan menuju 
                  karir impian Anda dimulai di sini. Mari capai masa depan yang cerah dan penuh makna bersama kami!</p>
              </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section testimoni -->
     <section class="testimoni">
      <div class="container">
        <div class="section-header">
          <h2 class="title">Apa Kata Mereka?</h2>
        </div>
        <div class="testimoni-content">
          <div class="swiper testimoni-slider js-testimoni-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide testimoni-item">
                <div class="info">
                  <img src="../static/img/testi-1.png" alt="testi 1">
                  <div class="text-box">
                    <h3 class="name">Erika Liem</h3>
                    <span class="job">Desainer Grafis</span>
                  </div>
                </div>
                  <p>"Career Bot bener-bener ngerubah hidupku! Awalnya bingung mau ngapain, tapi setelah masukin skill dan potensiku, Career Bot ngerekomendasiin jadi desainer grafis. Sekarang, aku happy banget kerja di bidang yang aku suka, dan semangat kerja jadi nambah terus. Makasih, Career Bot, udah bantu aku nemuin jalan yang tepat!"</p>
                  <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
              </div>
              <div class="swiper-slide testimoni-item">
                <div class="info">
                  <img src="../static/img/testi-2.png" alt="testi 1">
                  <div class="text-box">
                    <h3 class="name">Juansen</h3>
                    <span class="job">Programmer</span>
                  </div>
                </div>
                  <p>"Career Bot adalah asisten karir yang luar biasa! Setelah memasukkan detail keterampilan dan potensi saya, Career Bot merekomendasikan saya untuk menjadi seorang programmer. Sekarang, saya menikmati setiap kode yang saya tulis, merasa terpacu oleh tantangan baru setiap hari. Terima kasih, Career Bot, telah membawa saya ke dunia yang mengasyikkan ini!"</p>
                  <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
              </div>
              <div class="swiper-slide testimoni-item">
                <div class="info">
                  <img src="../static/img/testi-3.png" alt="testi 1">
                  <div class="text-box">
                    <h3 class="name">Emily Gabriel</h3>
                    <span class="job">Marketing Analyst</span>
                  </div>
                </div>
                  <p>"Dulu saya ragu tentang kemampuan saya di dunia pemasaran, tapi Career Bot membawa perubahan besar dalam hidup saya! Career Bot merekomendasikan saya untuk menjadi seorang Marketing Analyst. Sekarang, saya menikmati setiap analisis pasar dan strategi pemasaran yang saya buat, merasa bangga melihat hasilnya."</p>
                  <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
              </div>
              <div class="swiper-slide testimoni-item">
                <div class="info">
                  <img src="../static/img/testi-4.png" alt="testi 1">
                  <div class="text-box">
                    <h3 class="name">Sheila Kartika</h3>
                    <span class="job">Data Analyst</span>
                  </div>
                </div>
                  <p>"Career Bot benar-benar membuka mata saya terhadap peluang karir yang belum pernah terpikirkan sebelumnya! Dengan menyertakan keterampilan dan potensi saya, Career Bot merekomendasikan peran sebagai Data Analyst. Sekarang, saya menikmati setiap langkah analisis data saya, merasa bangga akan kontribusi yang saya berikan.</p>
                  <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination js-testimoni-pagination"></div>
        </div>
      </div>

     </section>
    <!-- section testimoni end -->

    <!-- Section Search Bar -->
    <section id="search" class="search">
      <div class="search-title container">
        <div class="row">
          <div class="col-12 text-center">
            <h2>Personalized <span>Career Recommendations</span></h2>
            <p>Isi informasi mengenai skill dan potensi Kamu di sini untuk mendapatkan rekomendasi karir yang paling sesuai dengan profil Kamu.</p>
          </div>
        </div>
      </div>
      <div class="search-skill container">
          <div class="row">
              <div class="col-12 text-center">
                <div class="row">
                </div>
                  <div class="skill-bar">
                    <h2>Temukan Karir Sesuai potensimu</h2>
                    <form id="search-form" method="POST" action="#search">
                      <div class="search-bar">
                          <input type="text" name="skill" placeholder="Masukkan skill kamu..." required>
                          <button type="submit">Search</button>
                      </div>
                    </form>
                  </div>
                    <div id="search-results" class="results">
                        {% if top_jobs  %}
                        <div class="col-12 list-results">
                          <h2>Rekomendasi Karir untuk Kamu:</h2>
                            <ul>
                              {% for job, similarity in top_jobs %}
                                <li>{{ job }}</li>
                              {% endfor %}
                            </ul>
                        </div>
                          {% endif %}
                    </div>
              </div>
          </div>
      </div>
  </section>
  

  <!-- Our team section start -->
  <section id="our-team">
    <div class="our-team">
      <h2>Our <span>Team</span></h2>
      <div class="row-team">

        <!-- project lead -->
        <div class="member">
          <div class="team-member">
            <div class="img-container">
              <img src="../static/img/dimas-img.png" alt="Project Lead">
            </div>
            <h4>Dimas Fajri</h4>
            <p>as Machine Learning Engineer</p>
            <div class="icons-team">
              <a href="#">
                <i class="fa-brands fa-square-github"></i>
              </a>
              <a href="#">
                <i class="fa-brands fa-linkedin"></i>
              </a>
              <a href="#">
                <i class="fa-solid fa-envelope"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- frontend-1 -->
        <div class="member">
          <div class="team-member">
            <div class="img-container">
              <img src="../static/img/risty-img.png" alt="Project Lead">
            </div>
            <h4>Risty Farentina</h4>
            <p>as FrontEnd Developer</p>
            <div class="icons-team">
              <a href="#">
                <i class="fa-brands fa-square-github"></i>
              </a>
              <a href="https://www.linkedin.com/in/ristyfaren/">
                <i class="fa-brands fa-linkedin"></i>
              </a>
              <a href="#">
                <i class="fa-solid fa-envelope"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- data engineer -->
        <div class="member">
          <div class="team-member">
            <div class="img-container">
              <img src="../static/img/nuri-img.png" alt="Project Lead">
            </div>
            <h4>Nuri Aisyah</h4>
            <p>as Data Engineer</p>
            <div class="icons-team">
              <a href="#">
                <i class="fa-brands fa-square-github"></i>
              </a>
              <a href="#">
                <i class="fa-brands fa-linkedin"></i>
              </a>
              <a href="#">
                <i class="fa-solid fa-envelope"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- data engineer-2 -->
        <div class="member">
          <div class="team-member">
            <div class="img-container">
              <img src="../static/img/fitri-img.png" alt="Project Lead">
            </div>
            <h4>Fitri Budiarti</h4>
            <p>as Data Engineer</p>
            <div class="icons-team">
              <a href="#">
                <i class="fa-brands fa-square-github"></i>
              </a>
              <a href="#">
                <i class="fa-brands fa-linkedin"></i>
              </a>
              <a href="#">
                <i class="fa-solid fa-envelope"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- backend-2 -->
        <div class="member">
          <div class="team-member">
            <div class="img-container">
              <img src="../static/img/najwa-img.png" alt="Project Lead">
            </div>
            <h4>Najwa Laila</h4>
            <p>as Researcher and Machine Learning Engineer</p>
            <div class="icons-team">
              <a href="https://github.com/najwalailaa">
                <i class="fa-brands fa-square-github"></i>
              </a>
              <a href="https://www.linkedin.com/in/najwa-laila-anggraini/">
                <i class="fa-brands fa-linkedin"></i>
              </a>
              <a href="najwalailaa3@gmail.com">
                <i class="fa-solid fa-envelope"></i>
              </a>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </section>
  <!-- Our team section end -->
  <!-- footer start -->
  <footer>
    <div class="links">
      <a href="index.html">Home</a>
      <a href="#search">Career</a>
      <a href="#">About Me</a>
    </div>
    <div class="credit">
      <p>Created by <a href="">INFINITEAM</a>. | &copy; 2024.</p>
    </div>
  </footer>
  <!-- footer end -->


    <!-- Optional JavaScript; choose one of the two! -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- javascript -->
    <script src="static/script.js"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>